html {
  font-size: 16px;
}

.background {
  z-index: 0;
  position: absolute;
  left: calc(50% - 32rem);
  top: calc(50% - 28rem);
}

.instructions {
  z-index: 1;
  position: absolute;
  left: calc(50% - 28rem);
  top: calc(50% - 12rem);
  width: 16rem;
  padding: 0.25rem !important;
}

.global-stepper-container {
  z-index: 1;
  position: absolute;
  left: calc(50% - 28rem);
  top: calc(50% - 23.875rem);
  width: 16rem;
}

.global-stepper {
  text-align: center;
  background-color: unset !important;
}

.global-stepper-label {
  margin-top: -2.25rem;
  color: white;
  top: calc(50%);
  text-align: center;
}

.playfield {
  z-index: 1;
  position: absolute;
  color: white;
  left: calc(50% - 8.125rem);
  top: calc(50% - 18rem);
  width: 20rem;
}

.top-box {
  z-index: 1;
  position: absolute;
  color: white;
  width: 20rem;
  top: calc(50% - 24.5rem);
  left: calc(50% - 8rem);
}

/* Sorry, I'm lazy */
@media (min-width: 600px) {
  .MuiTab-root {
      min-width: initial !important;
  }
}

.next-box {
  z-index: 1;
  position: absolute;
  left: calc(50% + 15.875rem);
  top: 50%;
  width: 8rem;
  color: white;
}

.next-box.grid {
  text-align: center;
  display: inline-block;
}

.piece-selector-selectable-piece {
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
}

.option-summarize-selectable-piece {
  /* padding: 0.1rem; */
  border-radius: 0.125rem;
}

.selectable-piece {
  border: 1px solid white;
  cursor: pointer;
}

.selected-piece {
  border: 1px solid green;
}

.piece-selector-grid-item {
  text-align: center !important;
  margin-top: 2rem !important;
  margin-bottom: 2rem !important;
}

.state-text {
  font-size: 4rem;
}

.option-summarize-container {
  color: white;
  text-align: center;
}

.option-complete {
  padding: 1rem;
  border: 1px solid green;
  border-radius: 0.5rem;
}

.option-summarize-full-grid {
  text-align: center;
}