html {
  font-size: 16px;
}

.background {
  z-index: 0;
  position: absolute;
  left: calc(50% - 32rem);
  top: calc(50% - 28rem);
}

.instructions {
  z-index: 1;
  position: absolute;
  left: calc(50% - 28rem);
  top: calc(50% - 12rem);
  width: 16rem;
  padding: 0.25rem !important;
  color: white;
}

.paste-box {
  position: absolute;
  left: calc(50% - 27.25rem);
  top: calc(50% - 23.75rem);
}

.option-step-piece {
  padding: 0.25rem;
}

.global-stepper-container {
  z-index: 1;
  position: absolute;
  left: calc(50% - 28rem);
  top: calc(50% - 23.875rem);
  width: 16rem;
}

.global-stepper {
  text-align: center;
  background-color: unset !important;
}

.global-stepper-label {
  margin-top: -2.25rem;
  color: white;
  top: calc(50%);
  text-align: center;
}

.playfield {
  z-index: 1;
  position: absolute;
  color: white;
  left: calc(50% - 8.125rem);
  top: calc(50% - 18rem);
  width: 20rem;
}

.top-box {
  z-index: 1;
  position: absolute;
  color: white;
  width: 20rem;
  top: calc(50% - 24.5rem);
  left: calc(50% - 8rem);
}

.side-box {
  z-index: 1;
  position: absolute !important;
  color: white;
  width: 20rem;
  top: calc(50% + 10.75rem);
  left: calc(50% + 17.75rem);
}

/* Sorry, I'm lazy */
@media (min-width: 600px) {
  .MuiTab-root {
      min-width: initial !important;
  }
}

.next-box {
  z-index: 1;
  position: absolute;
  left: calc(50% + 15.875rem);
  top: 50%;
  width: 8rem;
  color: white;
}

.mini-grid {
  border: 1px dotted grey;
}