html {
  font-size: 8px;
}

.block {
  width: 4rem;
  height: 4rem;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: cover;
}

.block-1 {
  background-image: url('../static/block-1.png');
}

.block-2 {
  background-image: url('../static/block-2.png');
}

.block-3 {
  background-image: url('../static/block-3.png');
}

.near-invisible {
  opacity: 0.25;
}

.slightly-hidden {
  opacity: 0.75;
}

.hidden {
  background-image: none;
  background-color: black;
}

.grid {
  display: block;
  width: 40.25rem;
  border-bottom: 0.25rem solid black;
  border-right: 0.25rem solid black;
  background-color: black;
}

.row {
  height: 4rem;
  width: 40rem;
  display: block;
}

.bit {
  display: inline-block;
}

.state-text {
  font-size: 8rem;
}